.DS_Store
node_modules
src
npm-debug.log*
package-lock.json

.yarn
.yarnrc.yml
yarn.lock
yarn-debug.log*
yarn-error.log*

src
tsconfig.json
tslint.json
.prettierrc

# Editor directories and files
.idea
.vscode
.editorconfig
*.suo
*.ntvs*
*.njsproj
*.sln
